<section id="login-git">
  <loading-screen *ngIf="loadingData"></loading-screen>
  <div class="flex-row w-100 d-flex justify-content-center flex-wrap">
    <p class="w-100 d-flex justify-content-center flex-wrap">
      Para visualizar seus repositórios basta se logar clicando no botão abaixo.
    </p>
    <p>
      <a href="https://github.com/login/oauth/authorize?scope=user:tiago.souza.santos1989@gmail.com&client_id=cc5d6a52910648e97389">
        <button>GitHub Login</button>
      </a>
    </p>
  </div>
</section>