@import '_base.scss';
#home{
    overflow: hidden;
    font-family: $font-family;
    font-size: 13px;
    text-align: justify;
    text-justify: inter-word;
    header,footer{
        background-color: $header-footer;
        color: $white;
        border-radius: 5px;
        line-height: 30px;
        font-family: $font-family;
        span{
            padding: 5px;
        }
        span.copyrigth{
            font-size: 10px;
        }
    }
    button{
        background-color: $header-footer;   
        color: $white;
    }
}