<section class="flex-column w-100 flex-wrap" id="home">
  <div class="flex-column w-100 d-flex justify-content-center flex-wrap">
    <header class="flex-row w-100 d-flex justify-content-center flex-wrap">
      <div class="flex-row w-33 d-flex justify-content-center flex-wrap">
        <a routerLink="/" class="small-link">
          <button>
            <i class="material-icons">home</i>
          </button>
        </a>
      </div>
      <div class="flex-row w-33 d-flex justify-content-center flex-wrap">
        <span>GitHunPan</span>
      </div>
      <div class="flex-row w-33 d-flex justify-content-end flex-wrap">
        <!-- <app-cart></app-cart> -->
        asdasd
      </div>
    </header>
    <router-outlet class="flex-row w-100 d-flex justify-content-center"></router-outlet>
    <footer class="flex-row w-100 d-flex justify-content-center flex-wrap">
      <span class="copyrigth">
        Copyright © 2019 GitHunPan. Todos os direitos reservados.
      </span>
    </footer>
  </div>
</section>