/* You can add global styles to this file, and also import other style files */
@import '_base.scss';

button,select{
    padding: 5px;
    margin: 10px;
    border: 0px;
    min-width: 80px;
    border-radius: 5px;
}
button:hover{
    background-color: $header-footer;
    color: $white;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.mat-card-image {
    margin: -4px -16px 10px -16px !important;
}